<link rel="stylesheet" href="../../stylesheets/footer.css">
<div class="footer">
    <div class="footer_left">
        Copyright © 2020 BabyTransfer
    </div>
    <div class="footer_right">
        <div id="footer_schema">Схема работы</div>
        <div> Горячая линия</div>
    </div>
</div>
