<link rel="stylesheet" href=".././stylesheets/header.css">
<div class="header">
    <div class="logo">
        <img src="../../images/logo.svg" alt="">
    </div>
    <div class="menu">
        <a href="/orders/page/1">
            <div class="menu_item"> <img src=" ../../images/burger.svg" alt=""> Мои заказы </div>
        </a>
        <a href="/customer/profile/">
            <div class="menu_item"> <img src=".././images/requisites.svg" alt=""> Мои реквизиты </div>
        </a>
        <div class="menu_item"> <img src=".././images/reports.svg" alt=""> Отчеты</div>
        <a href="/orders/new_order">
            <div class="new_order"> <img src=".././images/add_order.svg" alt=""> Новый заказ</div>
        </a>
    </div>
    <div class="profile">
        <img src=".././images/notification.svg" alt="">
        <div class="profile_name">
            Екатерина
        </div>
        <div class="profile_lastname">
            Марченко
        </div>
        <div class="profile_photo"
            style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/94/Rubens-Lady.of.the.Chamber.to.Infanta.Isabella.jpg');">
        </div>
        <img src=".././images/door.svg" alt="exit" id="exit">
    </div>
</div>