{{>header}}
<link rel="stylesheet" href="../../stylesheets/header.css">
<link rel="stylesheet" href="../../stylesheets/profile.css">

<div class="container_body_left">
    <div class="container_body_header">
        Личный кабинет водителя
    </div>
    <label for="name">
        <div class="container_row">
            <div class="container_row_icon">
                <img src="../../images/man-user.svg" alt="">
            </div>
            <div class="container_row_right">
                <div class="container_row_text">
                    Имя
                </div>
                <div class="container_row_value ">
                    <input type="text" id="name" placeholder="Введите имя...">
                </div>
            </div>
        </div>
    </label>

    <label for="lastname">
        <div class="container_row">
            <div class="container_row_icon">
                <img src="../../images/man-user.svg" alt="">
            </div>
            <div class="container_row_right">
                <div class="container_row_text">
                    Фамилия
                </div>
                <div class="container_row_value ">
                    <input type="text" id="lastname" placeholder="Введите фамилию...">
                </div>
            </div>
        </div>
    </label>

    <label for="city">
        <div class="container_row">
            <div class="container_row_icon">
                <img src="../../images/gps_marker.svg" alt="">
            </div>
            <div class="container_row_right">
                <div class="container_row_text">
                    Город
                </div>
                <div class="container_row_value ">
                    <input type="text" id="city" placeholder="Введите город...">
                </div>
            </div>
        </div>
    </label>

    <label for="type_auto">
        <div class="container_row">
            <div class="container_row_icon">
                <img src="../../images/type_car.svg" alt="">
            </div>
            <div class="container_row_right">
                <div class="container_row_text">
                    Тип авто
                </div>
                <div class="container_row_value ">
                    <select name="" id="type_auto">
                        <option value="">Седан</option>
                        <option value="">Комфорт</option>
                        <option value="">Бизнес</option>
                    </select>
                </div>
            </div>
        </div>
    </label>


    <label for="type_auto">
        <div class="container_row">
            <div class="container_row_icon">
                <img src="../../images/numbers.svg" alt="">
            </div>
            <div class="container_row_right">
                <div class="container_row_text">
                    Номер автомобиля
                </div>
                <div class="container_row_value ">
                    <input type="text" placeholder="">
                </div>
            </div>
        </div>
    </label>

    <label for="type_auto">
        <div class="container_row">
            <div class="container_row_icon">
                <img src="../../images/numbers.svg" alt="">
            </div>
            <div class="container_row_right">
                <div class="container_row_text">
                    Описание авто прописью
                </div>
                <div class="container_row_value ">
                    <input type="text" placeholder="">
                </div>
            </div>
        </div>
    </label>

    <label for="type_auto">
        <div class="container_row">
            <div class="container_row_icon">
                <img src="../../images/numbers.svg" alt="">
            </div>
            <div class="container_row_right">
                <div class="container_row_text">
                    Номер банковской карты
                </div>
                <div class="container_row_value ">
                    <input type="text" placeholder="">
                </div>
            </div>
        </div>
    </label>

    <label for="type_auto">
        <div class="container_row">
            <div class="container_row_icon">
                <img src="../../images/numbers.svg" alt="">
            </div>
            <div class="container_row_right">
                <div class="container_row_text">
                    Цена подачи автомобиля
                </div>
                <div class="container_row_value ">
                    <input type="text" placeholder="">
                </div>
            </div>
        </div>
    </label>

    <label for="type_auto">
        <div class="container_row">
            <div class="container_row_icon">
                <img src="../../images/numbers.svg" alt="">
            </div>
            <div class="container_row_right">
                <div class="container_row_text">
                    Время работы:
                </div>
                <div class="container_row_value column">
                    <div class="container_time">
                        Рабочие часы <input type="text" placeholder="">
                    </div>
                    <div class="container_time">
                        Рабочие часы <input type="text" placeholder="">
                    </div>
                </div>
            </div>
        </div>
    </label>

    <div class="container_row">
        <div class="container_row_icon">
            <img src="../../images/location.svg" alt="">
        </div>
        <div class="container_row_right">
            <div class="container_row_text ">
                Цена за км
            </div>
            <div class="container_row_value color_yellow">
                28 км
            </div>
        </div>
    </div>
    <div class="container_row">
        <div class="container_row_icon">
            <img src="../../images/goal.svg" alt="">
        </div>
        <div class="container_row_right">
            <div class="container_row_text ">
                Расчетное время прибытия
            </div>
            <div class="container_row_value color_yellow">
                18:20 12/10/19
            </div>
        </div>
    </div>

    <div class="container_row">
        <div class="container_row_icon">
            <img src="../../images/budget.svg" alt="">
        </div>
        <div class="container_row_right">
            <div class="container_row_text">
                Расчетная стоимость <br>
                <div class="font_12">(с учетом простоя до 60 мин)</div>
            </div>
            <div class="container_row_value color_yellow">
                {{order_l.cost}} грн
            </div>
        </div>
    </div>
</div>