{{>header}}
<link rel="stylesheet" href="../../stylesheets/header.css">
<link rel="stylesheet" href="../../stylesheets/customer_profile.css">

<div class="profile_container">
    <div class="header_text">
        Личный кабинет клиента
    </div>
</div>

{{>footer}}
<script src="../../javascripts/post.js"></script>