<link rel='stylesheet' href='/stylesheets/login.css' />
<div class="login_all">
    <div class="wrapper_login">
        <img src="./images/logo.svg" alt="">
        <div class="login_signup">
            <div class="head">
                Добро пожаловать
            </div>
            <div class="form_login">
                <form action="">
                    <div class="input_rows">
                        <div class="img_for_input" id="mail_img">
                            <img src="./images/mail.svg" alt="">
                        </div>
                        <input type="text" placeholder="Введите e-mail" id="email_login">
                    </div>

                    <div class="input_rows">
                        <div class="img_for_input" id="pass_img">
                            <img src="./images/password.svg" alt="">
                        </div>
                        <input type="password" placeholder="Введите ваш пароль" id="password_login">
                    </div>

                </form>

                <div class="input_rows" id="for_css">
                    <a href="/users/reset_password">
                        <div class="img_for_input" id="reset_img">
                            <img src="./images/restore_pass.svg" alt="">
                        </div>

                        <div class="reset_text">
                            Восстановить пароль
                        </div>
                    </a>
                </div>

            </div>
            <div class="form_signup">
                <div class="input_rows">
                    <div class="img_for_input" id="mail_img">
                        <img src="./images/mail.svg" alt="">
                    </div>
                    <input type="text" placeholder="Введите e-mail" id="sign_email">
                </div>

                <div class="input_rows">
                    <div class="img_for_input" id="pass_img">
                        <img src="./images/password.svg" alt="">
                    </div>
                    <input type="password" placeholder="Введите ваш пароль" id="sign_password">
                </div>

                <div class="input_rows">
                    <div class="img_for_input" id="pass_img">
                        <img src="./images/password.svg" alt="">
                    </div>
                    <input type="password" placeholder="Подтвердите пароль" id="confirm_password">
                </div>

                <div class="input_rows">
                    <div class="img_for_input" id="pass_img">
                        <img src="./images/Page-1.svg" alt="">
                    </div>
                    <input type="text" placeholder="Номер телефона" id="sign_phone">
                </div>

                <div class="input_rows">
                    <div class="img_for_input">
                        <img src="./images/man-user.svg" alt="">
                    </div>
                    <select name="role" id="select_role_user">
                        <option value="driver">Водитель</option>
                        <option value="customer" selected>Пользователь</option>
                    </select>
                </div>

            </div>
            <div class="buttons">
                <div class="btn_login active_btn">Вход</div>
                <div class="btn_sign">Регистрация</div>
            </div>
        </div>
    </div>
    <div class="message">
        <div class="message_header">
            Уведомление
        </div>
        <div class="message_text">
            Регистрация пройшла успешно, вам отправленно письмо с подтверждением на почту
        </div>
        <div id="message_btn">ok</div>
    </div>
    <div class="footer">
        <div class="footer_left">
            Copyright © 2020 BabyTransfer
        </div>
        <div class="footer_right">
            <div id="footer_schema">Схема работы</div>
            <div> Горячая линия</div>
        </div>
    </div>
</div>
<script src="./javascripts/login_sign.js"></script>