<link rel="stylesheet" href="../stylesheets/reset_password.css">
<link rel="stylesheet" href="../stylesheets/tooltip.css">
<div class="login_all">
    <img src="../images/logo.svg" alt="">
    <div class="container">
        <div class="container_header">
            Восстановление пароля
        </div>
        <div class="inputs">
            <div class="input">
                <div class="input_img">
                    <img src="../images/mail.svg" alt="">
                </div>
                <input type="text" placeholder="Введите email" id="email">
            </div>
            <div class="input">
                <div class="input_img">
                    <img src="../images/password.svg" alt="">
                </div>
                <input type="password" placeholder="Ведите новый пароль" id="password">
            </div>
            <div class="input">
                <div class="input_img">
                    <img src="../images/password.svg" alt="">
                </div>
                <input type="password" placeholder="Подтвердите пароль" id="confirm_password">
            </div>
            <div class="btn" id="post">
                Отправить
            </div>
        </div>
    </div>
    <div class="message">
        <div class="message_header">
            Уведомление
        </div>
        <div class="message_text">
            Регистрация пройшла успешно, вам отправленно письмо с подтверждением на почту
        </div>
        <div id="message_btn">ok</div>
    </div>
</div>
<script src="../javascripts/tooltip.js"></script>
<script src="../javascripts/reset_password.js"></script>
<script src="../javascripts/post.js"></script>
{{>footer}}