<script type="text/javascript">
    var autocomplete;
    var options = {
        types: ['address'],
        componentRestrictions: { country: "ua" }
    };
    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(document.getElementById('autocomplete'), { options });
        autocomplete.addListener('place_changed', function () {
            var place = autocomplete.getPlace();
            console.log(place);
        });
    }

    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                console.log(geolocation);
                var circle = new google.maps.Circle(
                    { center: geolocation, radius: position.coords.accuracy });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }



</script>

<div>
    <input id="autocomplete" type="text" size="50" placeholder="Enter a location" autocomplete="on"
        onfocus="geolocate()">
</div>
<script
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBBf2vtMPr5P0Z3JrYOdvz1vugg4fN1-e8&amp;libraries=places&callback=initAutocomplete"
    type="text/javascript"></script>