.container_body_left {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px auto;
    background-color: #2F2C4C;
    border-radius: 5px 5px 0 0;
}

.container_body_left label {
    display: flex;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.container_body_header {
    background-color: white;
    color: #282640;
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 5px 5px 0 0;
}

.container_row {
    width: 100%;
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #9593a3;
    padding-bottom: 5px;
    /* margin: 20px; */
    margin-top: 20px;
    box-sizing: border-box;
}

.container_row_icon {
    width: 30px;
    display: flex;
    align-items: center;
}

.container_row_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 30px);
    height: 35px;
}

.container_row_text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #9593a3;
}

.font_12 {
    font-size: 12px;
}

.container_row_value {
    position: relative;
    display: flex;
    width: 60%;
    position: relative;
    flex-direction: row-reverse;
}

.container_row_value input {
    background-color: #2F2C4C;
    border: 0;
    color: white;
    font-size: 16px;
    width: 100%;
    position: relative;
    text-align: right;
}

.container_row_value input:focus {
    outline: none;
}

.column {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60%;
}

.container_time {
    display: flex;
    position: relative;
}

#height {
    height: inherit;
}

.container_time .text {
    width: 40%;
}

.container_time input {
    width: min-content;
}

.btn {
    align-self: flex-start;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #403E63;
    color: white;
    display: flex;
    align-items: center;
}

.btn img {
    margin-right: 5px;
}

.container_btn {
    display: flex;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    color: white;
    font-weight: bold;
}

.container_btn div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}

#btn_l {
    background-color: #403E63;
}

#btn_r {
    background-color: #E37429;
}

.container_row_value select {
    background-color: #2F2C4C;
    border: 0;
    outline: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
}

.container_row_value select option {
    padding: 10px 20px;
}

.container_row_value select:focus {
    background-color: #2F2C4C;
    border: 0;
    outline: none;
}

.container_row_value input::placeholder {
    color: #9593A3;
}

/* #9593A3 */