body {
    overflow: hidden;
}

.login_all {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.login_all>img {
    margin-bottom: 40px;
}

.container {
    width: 320px;
    height: 330px;
    background-color: #2F2C4C;
    box-shadow: 0px 0px 21px 3px rgba(0, 0, 0, 0.54);
    border-radius: 10px;
}

.container_header {
    border-radius: 10px 10px 0 0;
    background-color: white;
    color: #282640;
    display: flex;
    height: 65px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-size: 20px;
    width: 100%;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
}

.input_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    box-sizing: border-box;
}

.input_img img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.input input {
    width: 90%;
    border: 0;
    border-bottom: 1px solid white;
    background-color: #2F2C4C;
    color: white;
    box-sizing: border-box;
}

.input input::placeholder {
    color: white;
}

.input input:focus {
    outline: none;
    border: 0;
    border-bottom: 1px solid white;
    background-color: #2F2C4C;
    color: white;
}

.btn {
    padding: 10px 20px;
    background-color: #E37429;
    display: flex;
    width: max-content;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
}

.error_placeholder::placeholder {
    color: #E37429 !important;
}

/* message */
.message {
    background-color: #2F2C4C;
    box-shadow: 0px 0px 21px 3px rgba(0, 0, 0, 0.54);
    color: white;
    width: 350px;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    bottom: 80px;
}

.message_header {
    padding: 15px;
    background-color: white;
    color: #282640;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 19px;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
}

.message_text {
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

.anim_message {
    animation-name: message_anim;
    animation-timing-function: ease-out;
    animation-duration: 1s;
}

#message_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    width: max-content;
    background-color: #E37429;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
}

.message_out {
    animation-name: message_out;
    animation-timing-function: ease-out;
    animation-duration: 1s;
}

.tooltip {
    top: -35px !important;
}

@keyframes message_anim {
    0% {
        opacity: 0;
        right: -350px;
    }

    100% {
        opacity: 1;
        right: 20px;
    }
}

@keyframes message_out {
    0% {
        opacity: 1;
        right: 20px;
    }

    100% {
        opacity: 0;
        right: -350px;
    }
}